name: Markdown lint

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: node_modules
          key: dependencies

      - name: Prepare dependencies
        run: npm ci

      - name: Run eslint
        run: npx eslint *.json

      - name: Run remark-lint
        run: npm run check
